.topTitle {
  margin-top: 10vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBarText {
  background-image: url("/img/searchbar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14rem;
}

.searchBarSection {
  width: 100%;
  background-image: url(/img/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.searchResultSite {
  position: absolute;
}

.searchResultText {
  width: 60%;
  max-width: 560px;
  padding: 14rem;
  margin-top: 10vh;
  margin-bottom: 25vh;
  background-image: url("/img/search-result.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px grey solid;
  border-radius: 14px;
  background-color: white;
}

.colorBlue {
  color: #4285f4;
  font-size: 5em;
}

.colorRed {
  color: #db4437;
  font-size: 5em;
}

.colorYellow {
  color: #f4b400;
  font-size: 5em;
}

.colorGreen {
  color: #0f9d58;
  font-size: 5em;
}

.mainSection,
.videoSection {
  background-color: #1d3557;
}

.privacySection,
.mainSection,
.slideSection,
.videoSection {
  margin-top: 5vh;
}

.mainSectionTitle {
  margin-top: 10vh;
}

.emailIcon,
.ramenIcon,
.cookieOneIcon,
.cookieTwoIcon,
.pinIcon,
.ticketsIcon {
  /*background-image: url("/img/cookie-1.svg");*/
  height: 300px;
  position: absolute;
}

.emailIcon {
  position: absolute;
  z-index: -3;
  margin-top: -9vh;
  margin-left: -43vh;
  transform: rotate(328deg);
}

.ramenIcon {
  position: absolute;
  z-index: 1;
  margin-top: 33vh;
  margin-left: 11vh;
  transform: rotate(17deg);
}

.cookieOneIcon {
  z-index: 3;
  margin-top: -6vh;
  margin-left: 15vh;
}

.pinIcon {
  position: absolute;
  margin-top: 36vh;
  margin-left: 13vh;
  transform: rotate(5deg);
}

.ticketsIcon {
  position: absolute;
  margin-left: -40vh;
  margin-top: -7vh;
  transform: rotate(348deg);
  z-index: -1;
}

.cookieTwoIcon {
  z-index: -1;
  margin-top: 47vh;
  margin-left: -49vh;
}

.docSection {
  background-image: url("/img/google-docs.svg");
  background-position: 50%;
  background-color: #ebf2ed;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 380px;
  height: 57vh;
  padding: 6rem;
  margin-bottom: 10vh;
  border: 15px solid black;
  border-radius: 61px;
}

.browserSection {
  background-image: url("/img/browser.svg");
  background-position: 50%;
  background-color: #ebf2ed;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 380px;
  height: 57vh;
  padding: 6rem;
  margin-bottom: 10vh;
  border: 15px solid black;
  border-radius: 61px;
}

.mapSection {
  background-image: url("/img/google-map.svg");
  background-position: 50%;
  background-color: #2e3192;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 380px;
  height: 62vh;
  padding: 6rem;
  margin-bottom: 10vh;
  border: 13px solid black;
  border-radius: 61px;
}

.document {
  position: relative;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.powerSlide {
  position: absolute;
}

.slideSection {
  /*height: 24vh;*/
}

.slideText {
  background-image: url("/img/slide.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 600px;
  padding: 11rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.videoSection {
  margin-top: 15vh;
}

.videoText {
  position: relative;
  z-index: 1;
  margin-top: 49vh;
  max-width: 800px;
}

.videoTube {
  background-image: url(/img/video.svg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  max-width: 600px;
  padding: 16rem;
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.videoSpace {
  height: 40vh;
}

.finalSection {
  padding: 8rem;
}

.finalSectionText {
  padding: 15rem;
  max-width: 600px;
  background-color: grey;
  border: 3px solid;
  border-radius: 28px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .content {
    font-size: 10px;
  }

  .colorBlue,
  .colorGreen,
  .colorRed,
  .colorYellow {
    font-size: 1rem;
  }

  .searchResultText {
    width: 59%;
    padding: 3rem;
    margin-bottom: 25vh;
  }

  .searchBarText {
    padding: 8rem;
  }

  .docSection,
  .browserSection,
  .mapSection {
    height: 28vh;
    padding: 2rem;
    margin-bottom: 20.5vw;
    max-width: 17vh;
  }

  .slideSection {
    height: 44vh;
  }

  .slideText {
    padding: 2.5rem;
    font-size: 7px;
  }

  .videoSection {
    height: 38vh;
    padding: 3rem 9rem 4rem;
    margin-bottom: 2vh;
  }

  .videoTube {
    padding: 2rem;
  }

  .videoSpace {
    height: 24vh;
  }

  .videoText {
    max-width: 60vw;
  }
  .finalSectionText {
    width: 18vh;
    padding: 3rem;
  }

  .emailIcon,
  .ramenIcon,
  .cookieOneIcon,
  .cookieTwoIcon,
  .pinIcon,
  .ticketsIcon {
    height: 45px;
  }

  .emailIcon {
    margin-top: -2vh;
    margin-left: -14vh;
  }

  .ramenIcon {
    margin-top: 19vh;
    margin-left: 9vh;
  }

  .cookieOneIcon {
    margin-top: -1vh;
    margin-left: 9vh;
  }

  .cookieTwoIcon {
    margin-top: 38vh;
    margin-left: -17vh;
  }

  .pinIcon {
    margin-top: 24vh;
    margin-left: 9vh;
  }

  .ticketsIcon {
    margin-top: -3vh;
    margin-left: -12vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    font-size: 12px;
  }

  .colorBlue,
  .colorGreen,
  .colorRed,
  .colorYellow {
    font-size: 1rem;
  }

  .searchResultText {
    width: 59%;
    padding: 3rem;
    margin-bottom: 25vh;
  }

  .searchBarText {
    padding: 8rem;
  }

  .docSection,
  .browserSection,
  .mapSection {
    height: 45vh;
    padding: 3rem;
    margin-bottom: 20.5vw;
    max-width: 27vh;
  }

  .slideSection {
    height: 46vh;
  }

  .slideText {
    padding: 4rem;
  }

  .slideText > h2 {
    font-size: 16px;
  }

  .videoSection {
    height: 85vh;
    padding: 3rem 9rem 4rem;
    margin-bottom: 2vh;
  }

  .videoTube {
    padding: 1rem;
    max-width: 415px;
  }

  .videoSpace {
    height: 28vh;
  }

  .videoText {
    max-width: 60vw;
  }
  .finalSectionText {
    width: 28vh;
    padding: 4rem;
  }

  .emailIcon,
  .ramenIcon,
  .cookieOneIcon,
  .cookieTwoIcon,
  .pinIcon,
  .ticketsIcon {
    height: 100px;
  }

  .emailIcon {
    margin-top: -5vh;
    margin-left: -32vh;
  }

  .ramenIcon {
    margin-top: 33vh;
    margin-left: 12vh;
  }

  .cookieOneIcon {
    margin-top: -3vh;
    margin-left: 11vh;
  }

  .cookieTwoIcon {
    margin-top: 38vh;
    margin-left: -29vh;
  }

  .pinIcon {
    margin-top: 33vh;
    margin-left: 13vh;
  }

  .ticketsIcon {
    margin-top: -8vh;
    margin-left: -27vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .colorBlue,
  .colorGreen,
  .colorRed,
  .colorYellow {
    font-size: 1rem;
  }

  .searchResultText {
    padding: 7rem;
  }

  .searchBarText {
    padding: 8rem;
  }

  .docSection,
  .browserSection,
  .mapSection {
    height: 50vh;
    padding: 5rem;
    margin-bottom: 20.5vw;
    max-width: 29vh;
  }

  .slideSection {
    height: 65vh;
  }

  .slideText {
    padding: 9rem;
  }

  .videoSection {
    height: 105vh;
    padding: 3rem 9rem 4rem;
    margin-bottom: 2vh;
  }

  .videoTube {
    padding: 5rem;
  }

  .videoSpace {
    height: 36vh;
  }

  .videoText {
    max-width: 60vw;
  }

  .finalSection {
    padding: 6rem;
  }

  .finalSectionText {
    width: 55vh;
    padding: 4rem;
  }

  .emailIcon,
  .ramenIcon,
  .cookieOneIcon,
  .cookieTwoIcon,
  .pinIcon,
  .ticketsIcon {
    height: 220px;
  }

  .emailIcon {
    margin-top: -5vh;
    margin-left: -43vh;
  }

  .ramenIcon {
    margin-top: 33vh;
    margin-left: 16vh;
  }

  .cookieOneIcon {
    margin-top: -3vh;
    margin-left: 11vh;
  }

  .cookieTwoIcon {
    margin-top: 38vh;
    margin-left: -39vh;
  }

  .pinIcon {
    margin-top: 35vh;
    margin-left: 5vh;
  }

  .ticketsIcon {
    margin-top: -3vh;
    margin-left: -17vh;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .colorBlue,
  .colorGreen,
  .colorRed,
  .colorYellow {
    font-size: 5rem;
  }

  .searchResultText {
    padding: 10rem;
    /*margin-bottom: 10vh;*/
  }

  .searchBarText {
    padding: 8rem;
  }

  .docSection,
  .browserSection,
  .mapSection {
    height: 46vh;
    padding: 6rem;
    margin-bottom: 20.5vw;
    max-width: 26vh;
  }

  .slideSection {
    height: 72vh;
  }

  .slideText {
    padding: 15rem;
  }

  .videoSection {
    height: 110vh;
    padding: 3rem 9rem 4rem;
    margin-bottom: 2vh;
  }

  .videoTube {
    padding: 5rem;
  }

  .videoSpace {
    height: 38vh;
  }

  .videoText {
    max-width: 60vw;
  }
  .finalSectionText {
    width: 18vh;
    padding: 4rem;
  }

  .emailIcon,
  .ramenIcon,
  .cookieOneIcon,
  .cookieTwoIcon,
  .pinIcon,
  .ticketsIcon {
    height: 212px;
  }

  .emailIcon {
    margin-top: -10vh;
    margin-left: -43vh;
  }

  .ramenIcon {
    margin-top: 33vh;
    margin-left: 14vh;
  }

  .cookieOneIcon {
    margin-top: -3vh;
    margin-left: 11vh;
  }

  .cookieTwoIcon {
    margin-top: 38vh;
    margin-left: -38vh;
  }

  .pinIcon {
    margin-top: 38vh;
    margin-left: 13vh;
  }

  .ticketsIcon {
    margin-top: -11vh;
    margin-left: -32vh;
  }

  .finalSection {
  }

  .finalSectionText {
    width: 58vh;
    padding: 4em;
  }
}
